<div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-css3-plain colored"></i>
      <i class="devicon-vuejs-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-babel-plain colored"></i>
      <i class="devicon-nodejs-plain colored"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-visualstudio-plain vscode"></i>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-heroku-line-wordmark colored"></i>
    </div>
</div>
