<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
    <div class="images-left">
        <svg class="svg-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#868e96"></rect><text style="font-size: 2.5rem;" x="50%" y="50%" fill="#dee2e6" dy=".3em">twobit</text></svg>
    </div>
    <div class="contents-right">
      <h3> TwoBit </h3>
      <p>Twitch bot aimed to maximum perfomance. Event handling, moderation, user activity statistic, modern web panel, bunch of integrations: streamlabs, qiwi, donationalerts, aibt.ga api, overlays, variables, and much more!</p>
      <div class="project-badges">
        <span class="project-badge" style="background-color:#43853d">node.js</span>
        <span class="project-badge" style="background-color:#7449bb">tmi.js</span>
        <span class="project-badge" style="background-color:#4fc08d">vue.js</span>
        <span class="project-badge">postgresql</span>
        <span class="project-badge">socket.io</span>
      </div>
      <a class="project-link" target="_blank" style="background-color: #000000;" href="https://github.com/Satont/twobit/">github</a>
    </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" style="width: 70%;" src="{{ "/assets/img/marmok.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Marmok discord bot </h3>
    <p>An bot for marmok bloger. Moderate dumbs for links, spam. Temproary bans, mutes. Level system with role rewards. Raffles. Activity statistic for each one user.</p>
    <div class="project-badges">
      <span class="project-badge" style="background-color:#43853d">node.js</span>
      <span class="project-badge" style="background-color:#2173b5">discord.js</span>
      <span class="project-badge" style="background-color:#2173b5">klasa</span>
      <span class="project-badge">mongodb</span>
    </div>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" style="width: 70%;" src="{{ "/assets/img/7ssk7.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 7ssk7 discord bot </h3>
    <p>An bot for twitch streamer, player of Fortnite Virtus.Pro. Have very similar functions as marmok bot.</p>
    <div class="project-badges">
      <span class="project-badge" style="background-color:#43853d">node.js</span>
      <span class="project-badge" style="background-color:#2173b5">discord.js</span>
      <span class="project-badge" style="background-color:#4fc08d">vue.js</span>
      <span class="project-badge">mongodb</span>
    </div>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
    <div class="images-right">
      <img alt="mountains" style="width: 70%;" src="{{ "/assets/img/dlive.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-left">
      <h3> Dlive chat bot </h3>
      <p>Bot aimed to dlive.tv platform. Inside: moderation system, built-in games (8ball, roulette), timers, command handling, events handling (follow, lino tip, subscriber), overlays, variables</p>
      <div class="project-badges">
        <span class="project-badge" style="background-color:#43853d">node.js</span>
        <span class="project-badge" style="background-color:#d4bd1b">own written ws connector</span>
        <span class="project-badge" style="background-color:#4fc08d">vue.js</span>
        <span class="project-badge">mongodb</span>
      </div>
      <!-- <a class="project-link" href="#">Check it out</a> -->
    </div>
</div>
<div class="user-projects">
  <div class="images-left">
      <svg class="svg-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#868e96"></rect><text style="font-size: 2.5rem;" x="50%" y="50%" fill="#dee2e6" dy=".3em">aibt</text></svg>
  </div>
  <div class="contents-right">
    <h3> Aibt </h3>
    <p>Application for monitoring current ongoing dota match. Give a chance to check current player rank, in game medals, avarage mmr, score per user stream, and more endpoints avaliable .</p>
    <div class="project-badges">
      <span class="project-badge" style="background-color:#43853d">node.js</span>
      <span class="project-badge" style="background-color:#63db2a">swagger.io</span>
      <span class="project-badge" style="background-color:#bbb1b1">express.js</span>
      <span class="project-badge">mongodb</span>
      <span class="project-badge">socket.io</span>
    </div>
    <a class="project-link" target="_blank" style="background-color: #339af0;" href="http://aibt.ga">aibt.ga</a>
    <a class="project-link" target="_blank" style="background-color: #000000;" href="https://github.com/Satont/aibt/">github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" style="width: 70%;" src="{{ "/assets/img/rusty.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Rusty discord bot </h3>
    <p>Raffles, daily rewards, months rewards, subscribers rewards, shop system, and some more inside. Counting user statistic.</p>
    <div class="project-badges">
      <span class="project-badge" style="background-color:#43853d">node.js</span>
      <span class="project-badge" style="background-color:#2173b5">discord.js</span>
      <span class="project-badge" style="background-color:#2173b5">klasa</span>
      <span class="project-badge">mongodb</span>
    </div>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
      <svg class="svg-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#868e96"></rect><text style="font-size: 2.5rem;" x="50%" y="50%" fill="#dee2e6" dy=".3em">api.satont.ru</text></svg>
  </div>
  <div class="contents-right">
    <h3> api.satont.ru </h3>
    <p>Faceit enpoind: show user elo and lvl, song endpoint: show current song playing from vk, lastfm, twitch-dj.ru.</p>
    <div class="project-badges">
      <span class="project-badge" style="background-color:#43853d">node.js</span>
      <span class="project-badge" style="background-color:#b52511">redis</span>
      <span class="project-badge" style="background-color:#bbb1b1">express.js</span>
      <span class="project-badge">socket.io</span>
    </div>
    <a class="project-link" target="_blank" style="background-color: #339af0;" href="http://api.satont.ru">api.satont.ru</a>
  </div>
</div>